@mixin responsive {
  @media screen and (max-width: 1000px) {
    .loader {
      font-size: 70px;
      letter-spacing: 70px;
    }
  }

  @media screen and (max-width: 500px) {
    .loader {
      font-size: 50px;
      letter-spacing: 50px;
    }
  }

  @media screen and (min-width: 840px) {
    .card {
      width: 350px;
    }
    .banner {
      width: 100%;
      height: 600px;
      position: relative;
      left: -5px;
      object-fit: cover;
    }

    .englobe-cards-restaurants {
      display: flex;

      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    #fonctionnement {
      display: flex;
      flex-direction: row;
    }
    #f-1,
    #f-2,
    #f-3 {
      width: 28%;
    }
  }

  body > main > h2 {
    margin-left: 7vw;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    font-size: 25px;
  }
  #restaurants > h2 {
    margin-left: 7vw;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }
}

@mixin keyframes {
  @keyframes bounce {
    0% {
      opacity: 1;
      transform: translateY(0px);
      text-shadow: 0px 0px 20px $primaire;
    }
    50% {
      transform: translateY(20px);
      text-shadow: 0px 0px 20px $secondaire;
    }
    100% {
      transform: translateY(0px);
      text-shadow: 0px 0px 20px $tertiaire;
      opacity: 1;
    }
  }

  i.fa-burger:nth-child(1) {
    animation-delay: 0.5s;
  }

  i.fa-burger:nth-child(2) {
    animation-delay: 1s;
  }

  i.fa-burger:nth-child(3) {
    animation-delay: 1.5s;
  }

  @keyframes check {
    0% {
    }
    100% {
      width: 95%;
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
      transform: translateX(1px);
    }
    25% {
      transform: rotate(20deg);
    }
    50% {
      transform: rotate(10deg);
      transform: translateX(-3px);
    }
    70% {
      transform: rotate(20deg);
    }
    80% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
      transform: translateX(0px);
    }
  }

  @keyframes check2 {
    0% {
    }
    100% {
      width: 70px;
    }
  }

  @keyframes rotatev {
    0% {
      opacity: 0;
      transform: rotate(150deg);
    }
    100% {
      opacity: 1;
      transform: rotate(0deg);
    }
  }

  .submit-commande {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .btn-commander {
    border-style: none;
    font-size: 25px;
    font-weight: 600;
    height: 70px;
    width: auto;
    border-radius: 50px;
    background: linear-gradient(
      $primaire 0%,
      $secondaire 100%
    );
    color: white;
    padding: 20px 70px 20px 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  @keyframes loader-out {
    0% {
      opacity: 1;
      
    }
    90%{
      opacity: 1;
      z-index: 999;
    }
    100% {
      opacity: 0;
      display: none;
      transform: rotate(0deg);
      z-index: -999;
    }
  }
}
