@mixin responsive{






    @media screen and (max-width: 1000px) {

    .loader{

        
        font-size: 70px;
        letter-spacing: 70px;
      
        
      
      }
      

    }

    

    @media screen and (max-width: 500px) {

        .loader{
    
            
            font-size: 50px;
            letter-spacing: 50px;
          
            
          
          }
          
    
        }
    








    @media screen and (min-width: 840px) {

        .card{
            width: 350px;
            
        }
        .banner {
            
            width: 100%;
            height: 600px;
            position: relative;
            left: -5px;
            object-fit: cover;
          }
    
        .englobe-cards-restaurants{
            display: flex;

            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    
        #fonctionnement{
            display: flex;
            flex-direction: row;
        }
        #f-1,
        #f-2,
        #f-3 {
        width: 28%;
        
        }
    
    }



    body > main > h2
{
    margin-left: 7vw;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    font-size: 25px;

}
#restaurants > h2{
  margin-left: 7vw;
  margin-bottom: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;


  

}

}
















