@import "abstracts/_mixins.scss";
@import "abstracts/_variables.scss";
@import "base/_reset.scss";
@import "components/_animations.scss";
@import "components/_responsive.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&family=Roboto&family=Shrikhand&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 20px;
  width: auto;
}

#banner {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;

  p,
  h2 {
    width: 80%;
    text-align: center;
  }

  h2 {
    font-weight: 900;
    font-size: 25px;
    letter-spacing: -1px;
    margin: 20px auto;
    margin-top: 40px;
  }

  p {
    width: 90%;
    font-weight: 200;
    font-size: 20px;
    margin: 0 auto 20px auto;
    color: rgb(102, 102, 102);
  }

  #btn-banner {
    padding: 20px 25px 40px 25px;
    margin: 15px 0px 80px 0px;
    text-align: center;
    border-style: none;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.199);
    background: linear-gradient(
      0deg,
      rgba(147, 86, 220, 0.7935034802784222) 0%,
      rgba(147, 86, 220, 0.728538283062645) 0%,
      rgba(255, 121, 218, 1) 100%
    );
    color: white;

      &:hover {
      filter: brightness(105%);
      box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.507); 
      transition: 0.5s ease-in-out;
      
      }
      transition: 0.5s ease-in-out;
      box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.199);

  }
}

#fonctionnement h2{

  font-size: 30px
}

#restaurants{

  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(248, 247, 247);
}

.btn-commander{

  &:hover {
    filter: brightness(105%);
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.507); 
    transition: 0.3s ease-in-out;
    
    }
    transition: 0.3s ease-in-out;
    box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.199);
}

#f-3{

  background-color: rgba(224, 217, 255, 0.562);
}


#f-1,
#f-2,
#f-3 {
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.199);
  border-radius: 20px;
  height: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 0.1px rgba(128, 128, 128, 0.021) solid;

  .numero {
    position: relative;
    left: -20px;
    padding: 5px 10px;
    margin: 0px 20px 0px 10px;
    color: white;
    border: 1px solid $primaire;
    background-color: $primaire;
    border-radius: 70%;
  }

  i {
    color: gray;
    margin-right: 20px;
  }

  .fa-solid.fa-shop {
    color: $primaire;
  }
}

#f-3 {
  margin-bottom: 100px;
}

#ville {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(228, 226, 226);

  p {
    margin-left: 15px;
  }
}

header {
  display: flex;
  
  justify-content: center;
  align-items: center;
  

  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 3;
  background-color: white;
  h1 {
  
    height: 100%;
    text-align: center;
    font-size: 35px;
   padding-top: 45px;
  }
}

.fa-solid.fa-arrow-left {
  font-size: 30px;

  position: absolute;
  top: 25px;
  left: 25px;
  &:hover {
    animation: shake 0.5s ease-in-out;
  }
}

.label-design {
  background-color: $tertiaire;
  height: 3px;
  width: 50px;
  position: relative;
  top: -15px;
}

#fonctionnement {
  h2 {
    margin-left: 6vw;
    font-weight: 800;
  }
  .numero {
    font-weight: 600;
    font-size: 15px;
  }

  p {
    font-weight: 600;
  }
}

.card {
  border: 0.1px solid rgba(128, 128, 128, 0.288);
  border-radius: 25px;
  width: 90%;
  height: 230px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.171);
  margin-bottom: 50px;
  
  p {
    margin: 0px 0px 0px 20px;
  }

  h3 {
    margin: 10px 0px 5px 20px;
  }

  &:hover{
    transform: scale(1.01);
    transition: 0.3s;

  }
  transition: 0.2s ease-in-out;
}

.img-card {
  height: 65%;
}

.body-card {
  height: 35%;
}

.img-card-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

.new{

    color: rgb(63, 148, 122);
    width: 100px;
    background-color: rgb(131, 236, 201);
    text-align: center;
 
    height: 27px;
    padding-top: 10px;
    border-radius: 2px;
  

}

.new-box{
  display: flex;
  justify-content: end;
  position: relative;
  z-index: 2;
  padding-top: 15px;
  padding-right: 20px;
  // top: 75px;
 
}

div.img-card:nth-child(2) > img:nth-child(1), div.heart:nth-child(3){

  position: relative;
  top: -60px;
}

footer {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  padding-bottom: 25px;

 

  main {
    padding: 0;

    margin: 0;
    height: auto;
  }

  h1 {
    text-align: left;
    margin-left: 25px;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    font-weight: 100;
  }

  a {
    text-decoration: none;
    color: white;
    text-align: start;
  }

  i {
    color: white;
    margin-right: 10px;
  }
}
.fa-solid.fa-handshake-angle {
  margin-right: 3.5px;
}

#a-footer {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 80%;
}

.banner {
  width: 100%;
  transform: scaleY(1.2);
  position: relative;
  z-index: -1;
  object-fit: cover;
}
.nom-restaurant {
  border-radius: 35px 35px 0 0;
  background-color: white;
  //   position: relative;
  //   z-index: 1;

  background-color: rgb(243, 242, 242);
}

.entete-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;

  h1 {
    letter-spacing: -1px;
    font-size: 26px;
  }

  i {
    font-size: 30px;
    margin-right: 25px;
  }
}

.fa-solid.fa-heart:hover {
  -webkit-text-stroke: 0px rgba(255, 255, 255, 0);
  background: #9356dc;
  background: -webkit-repeating-linear-gradient(
    to bottom right,
    #ff79da 0%,
    #9356dc 100%
  );
  background: -moz-repeating-linear-gradient(
    to bottom right,
    #ff79da 0%,
    #9356dc 100%
  );
  background: repeating-linear-gradient(
    to bottom right,
    #ff79da 0%,
    #9356dc 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.005);
  transition: ease-in-out 0.3s;
}

.fondu-out-loading{

  opacity: 0;
  transition: opacity 5s ease-out;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-solid.fa-heart {

  color: white;
  -webkit-text-stroke: 1px #000000;
}

.list-choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    width: 100%;
    height: 100%;
  }
}



.card-choix {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.171);
  animation: fadein 2s;

  border-radius: 20px;
  background-color: white;
  height: 70px;
}

.infos-choix {

  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  width: 100%;

  p {
    margin: 0;
    margin-top: 5px;
  }
}

.nom-restaurant {
  padding-left: 25px;
  padding-right: 25px;
}

.infos-choix > p:nth-child(2) {
  padding-left: 15px;

  margin-right: 20px;
}

.nom-choix {
  h4 {
    margin: 0;
    margin-left: 15px;
  }
  font-size: 15px;

  text-align: left;
width: 100%;
}

.fa-solid.fa-circle-check {
  font-size: 40px;
  color: rgb(255, 255, 255);

  margin: auto;

  text-align: center;
  width: 100%;
}

.anim-check {

  padding-top: 15px;
  width: 0%;
  display: none;
  background-color: $tertiaire;
  height: 55px;

  border-radius: 0px 20px 20px 0px;
}


.card-choix:hover {
  .infos-choix > p:nth-child(2) {
    text-overflow: ellipsis;
    white-space:pre-wrap;
    overflow: hidden;
    h4 {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      overflow: hidden;
    }

    p{
      text-overflow: ellipsis;
      white-space:pre-wrap;
      overflow: hidden;

    }
  }




  .nom-choix {

    h4 {
      text-overflow: ellipsis;
      white-space: pre-wrap;
      overflow: hidden;
    }
  }

  .anim-check {
    display: block;
  

    animation: 0.3s check2 ease-in-out forwards;
    .fa-solid.fa-circle-check {
      animation: 0.7s rotatev ease-in-out forwards;
    }
  }
}




.loader{

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  letter-spacing: 100px;
  margin-left: auto;
  margin-right: auto;
  animation: fondu 4s ease-out forwards;
  margin-bottom: 500px;
  transition: 0.5s ease-out;
  

}

.fondu-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  z-index: -999;
}


i.fa-solid.fa-burger{
display: flex;
position: relative;
left: 25px;
 justify-content: center;

}

i.fa-burger:nth-child(1){
  color: $primaire;

  animation: bounce 2s ease-in-out infinite;
  
}

i.fa-burger:nth-child(2){
  color: $secondaire;

  animation: bounce 2s ease-in-out infinite;
}

i.fa-burger:nth-child(3){
  color: $tertiaire;

   animation: bounce 2s ease-in-out infinite;
}


@keyframes bounce {

0%{
  opacity: 1;
  transform: translateY(0px);
  text-shadow: 0px 0px 20px $primaire;
}
 
50%{
transform: translateY(20px);
text-shadow: 0px 0px 20px $secondaire;
}


100%{
  transform: translateY(0px);
  text-shadow: 0px 0px 20px $tertiaire;
  opacity: 1;

}

}

i.fa-burger:nth-child(1){
  animation-delay: 0.5s;
  
}

i.fa-burger:nth-child(2){
  animation-delay: 1s;
  
}

i.fa-burger:nth-child(3){
  animation-delay: 1.5s;
  
}








@keyframes check {
  0% {
  }
  100% {
    width: 95%
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
    transform: translateX(1px);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(10deg);
    transform: translateX(-3px);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
    transform: translateX(0px);
  }
}

@keyframes check2 {
  0% {
  }
  100% {
    width: 70px;
  }
}

@keyframes rotatev {
  0% {
    opacity: 0;
    transform: rotate(150deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.submit-commande {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.btn-commander {
  border-style: none;
  font-size: 25px;
  font-weight: 600;
  height: 70px;
  width: auto;
  border-radius: 50px;
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 0.7935034802784222) 0%,
    rgba(147, 86, 220, 0.728538283062645) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  color: white;
  padding: 20px 70px 20px 70px;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

@include responsive;
